/* Grid */

.grid {
    display: block;
}

@media screen and (min-width: 1060px) {
    .grid {
        display: grid;
        grid-template-columns: auto 300px;
        gap: 6rem;
    }
}

.article-content {
    max-width: 100%;
    min-width: 0;
}

.links {
    margin-top: 1rem;
}