/* Tags */

.tags,
.links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

a.tag {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.2rem 0.4rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--font-color-base);
  background: var(--button-background-color) !important;
  text-decoration: none;
}

a.tag:hover {
  color: var(--font-color-bright);
  border-color: var(--highlight-color);
  text-decoration: none;
}

a.tag.active {
  color: var(--highlight-color);
  border-color: var(--highlight-color);
  font-weight: 600;
}

@media screen and (min-width: 700px) {
  .categories.anchored,
  .links.anchored {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
  }
}

a.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

a.category.active {
  color: var(--highlight-color);
}

a.category:hover .count,
a.category.active .count {
  color: var(--highlight-color);
}

.category .name {
  font-size: 0.9rem;
}

.category .count {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--font-color-muted);
  font-family: var(--font-family-monospace);
}